<!DOCTYPE html>

<html>

<head>
    <title>about</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="maincontent">
        {{>header}}
        <p>This page is part of a Udemy Coursework. It uses data from mapbox.com and darksky.com</p>
        <img class="portrait" src="/img/icaro.jpg" alt="">
    </div>
    
    {{>footer}}
</body>

</html>